In [1]:
import gradio as gr

In [2]:
def greet(name):
    return "Hello " + name + "!"

demo = gr.Interface(fn=greet, inputs="text", outputs="text")

demo.launch()

Running on local URL:  http://127.0.0.1:7860

To create a public link, set `share=True` in `launch()`.

In [3]:
from datetime import datetime, timedelta,date
import pandas as pd
%matplotlib inline
from sklearn.metrics import classification_report,confusion_matrix
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
from __future__ import division
from sklearn.cluster import KMeans

"""from chart_studio import plotly
import plotly.plotly as py
import plotly.offline as pyoff
import plotly.graph_objs as go
"""
import sklearn
import xgboost as xgb
from sklearn.model_selection import KFold, cross_val_score, train_test_split
import warnings
warnings.filterwarnings("ignore")

#initiate plotly
#pyoff.init_notebook_mode()

#function to order clusters
def order_cluster(cluster_field_name, target_field_name,df,ascending):
    new_cluster_field_name = 'new_' + cluster_field_name
    df_new = df.groupby(cluster_field_name)[target_field_name].mean().reset_index()
    df_new = df_new.sort_values(by=target_field_name,ascending=ascending).reset_index(drop=True)
    df_new['index'] = df_new.index
    df_final = pd.merge(df,df_new[[cluster_field_name,'index']], on=cluster_field_name)
    df_final = df_final.drop([cluster_field_name],axis=1)
    df_final = df_final.rename(columns={"index":cluster_field_name})
    return df_final

  
#function for calculating the uplift
def calc_uplift(df):
    avg_order_value = 25
    
    #calculate conversions for each offer type
    base_conv = df[df.offer == 'No Offer']['conversion'].mean()
    disc_conv = df[df.offer == 'Discount']['conversion'].mean()
    bogo_conv = df[df.offer == 'Buy One Get One']['conversion'].mean()
    
    #calculate conversion uplift for discount and bogo
    disc_conv_uplift = disc_conv - base_conv
    bogo_conv_uplift = bogo_conv - base_conv
    
    #calculate order uplift
    disc_order_uplift = disc_conv_uplift * len(df[df.offer == 'Discount']['conversion'])
    bogo_order_uplift = bogo_conv_uplift * len(df[df.offer == 'Buy One Get One']['conversion'])
    
    #calculate revenue uplift
    disc_rev_uplift = disc_order_uplift * avg_order_value
    bogo_rev_uplift = bogo_order_uplift * avg_order_value
    
    return "Discount Conversion Uplift: {0}% \nDiscount Order Uplift: {1}\nDiscount Revenue Uplift: ${2}\n".format(np.round(disc_conv_uplift*100,2),np.round(disc_order_uplift,2),np.round(disc_rev_uplift,2))


    """return('Discount Conversion Uplift: {0}%'.format(np.round(disc_conv_uplift*100,2)))
    print('Discount Order Uplift: {0}'.format(np.round(disc_order_uplift,2)))
    print('Discount Revenue Uplift: ${0}\n'.format(np.round(disc_rev_uplift,2)))
    
    if len(df[df.offer == 'Buy One Get One']['conversion']) > 0:
          
        print('-------------- \n')
        print('BOGO Conversion Uplift: {0}%'.format(np.round(bogo_conv_uplift*100,2)))
        print('BOGO Order Uplift: {0}'.format(np.round(bogo_order_uplift,2)))
        print('BOGO Revenue Uplift: ${0}'.format(np.round(bogo_rev_uplift,2)))   """

C:\Users\Haresh\anaconda3\lib\site-packages\xgboost\compat.py:36: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  from pandas import MultiIndex, Int64Index

'Discount Conversion Uplift: 7.66% \nDiscount Order Uplift: 1631.89\nDiscount Revenue Uplift: $40797.35\n'

In [16]:
df_data = pd.read_csv('data.csv')
df_data.head(10)

,recency,history,used_discount,used_bogo,zip_code,is_referral,channel,offer,conversion
0,10,142.44,1,0,Surburban,0,Phone,Buy One Get One,0
1,6,329.08,1,1,Rural,1,Web,No Offer,0
2,7,180.65,0,1,Surburban,1,Web,Buy One Get One,0
3,9,675.83,1,0,Rural,1,Web,Discount,0
4,2,45.34,1,0,Urban,0,Web,Buy One Get One,0
5,6,134.83,0,1,Surburban,0,Phone,Buy One Get One,1
6,9,280.20,1,0,Surburban,1,Phone,Buy One Get One,0
7,9,46.42,0,1,Urban,0,Phone,Buy One Get One,0
8,9,675.07,1,1,Rural,1,Phone,Discount,0
9,10,32.84,0,1,Urban,1,Web,Buy One Get One,0

In [17]:
calc_uplift(df_data)

'Discount Conversion Uplift: 7.66% \nDiscount Order Uplift: 1631.89\nDiscount Revenue Uplift: $40797.35\n'

Traceback (most recent call last):
  File "C:\Users\Haresh\anaconda3\lib\site-packages\gradio\routes.py", line 393, in run_predict
    output = await app.get_blocks().process_api(
  File "C:\Users\Haresh\anaconda3\lib\site-packages\gradio\blocks.py", line 1059, in process_api
    result = await self.call_function(
  File "C:\Users\Haresh\anaconda3\lib\site-packages\gradio\blocks.py", line 868, in call_function
    prediction = await anyio.to_thread.run_sync(
  File "C:\Users\Haresh\anaconda3\lib\site-packages\anyio\to_thread.py", line 28, in run_sync
    return await get_asynclib().run_sync_in_worker_thread(func, *args, cancellable=cancellable,
  File "C:\Users\Haresh\anaconda3\lib\site-packages\anyio\_backends\_asyncio.py", line 818, in run_sync_in_worker_thread
    return await future
  File "C:\Users\Haresh\anaconda3\lib\site-packages\anyio\_backends\_asyncio.py", line 754, in run
    result = context.run(func, *args)
  File "C:\Users\Haresh\AppData\Local\Temp\ipykernel_8836\3606878819.py", line 3, in greet
    uplift_q_75 = df_data_lift.uplift_score.quantile(0.75)
  File "C:\Users\Haresh\anaconda3\lib\site-packages\pandas\core\generic.py", line 5575, in __getattr__
    return object.__getattribute__(self, name)
AttributeError: 'DataFrame' object has no attribute 'uplift_score'
Traceback (most recent call last):
  File "C:\Users\Haresh\anaconda3\lib\site-packages\gradio\routes.py", line 393, in run_predict
    output = await app.get_blocks().process_api(
  File "C:\Users\Haresh\anaconda3\lib\site-packages\gradio\blocks.py", line 1059, in process_api
    result = await self.call_function(
  File "C:\Users\Haresh\anaconda3\lib\site-packages\gradio\blocks.py", line 868, in call_function
    prediction = await anyio.to_thread.run_sync(
  File "C:\Users\Haresh\anaconda3\lib\site-packages\anyio\to_thread.py", line 28, in run_sync
    return await get_asynclib().run_sync_in_worker_thread(func, *args, cancellable=cancellable,
  File "C:\Users\Haresh\anaconda3\lib\site-packages\anyio\_backends\_asyncio.py", line 818, in run_sync_in_worker_thread
    return await future
  File "C:\Users\Haresh\anaconda3\lib\site-packages\anyio\_backends\_asyncio.py", line 754, in run
    result = context.run(func, *args)
  File "C:\Users\Haresh\AppData\Local\Temp\ipykernel_8836\3606878819.py", line 3, in greet
    uplift_q_75 = df_data_lift.uplift_score.quantile(0.75)
  File "C:\Users\Haresh\anaconda3\lib\site-packages\pandas\core\generic.py", line 5575, in __getattr__
    return object.__getattribute__(self, name)
AttributeError: 'DataFrame' object has no attribute 'uplift_score'
Traceback (most recent call last):
  File "C:\Users\Haresh\anaconda3\lib\site-packages\gradio\routes.py", line 393, in run_predict
    output = await app.get_blocks().process_api(
  File "C:\Users\Haresh\anaconda3\lib\site-packages\gradio\blocks.py", line 1059, in process_api
    result = await self.call_function(
  File "C:\Users\Haresh\anaconda3\lib\site-packages\gradio\blocks.py", line 868, in call_function
    prediction = await anyio.to_thread.run_sync(
  File "C:\Users\Haresh\anaconda3\lib\site-packages\anyio\to_thread.py", line 28, in run_sync
    return await get_asynclib().run_sync_in_worker_thread(func, *args, cancellable=cancellable,
  File "C:\Users\Haresh\anaconda3\lib\site-packages\anyio\_backends\_asyncio.py", line 818, in run_sync_in_worker_thread
    return await future
  File "C:\Users\Haresh\anaconda3\lib\site-packages\anyio\_backends\_asyncio.py", line 754, in run
    result = context.run(func, *args)
  File "C:\Users\Haresh\AppData\Local\Temp\ipykernel_8836\3606878819.py", line 14, in greet2
    uplift_q_5 = df_data_lift.uplift_score.quantile(0.5)
  File "C:\Users\Haresh\anaconda3\lib\site-packages\pandas\core\generic.py", line 5575, in __getattr__
    return object.__getattribute__(self, name)
AttributeError: 'DataFrame' object has no attribute 'uplift_score'

In [5]:
df_data['campaign_group'] = 'treatment'
df_data.loc[df_data.offer == 'No Offer', 'campaign_group'] = 'control'

In [6]:
df_data['target_class'] = 0 #CN
df_data.loc[(df_data.campaign_group == 'control') & (df_data.conversion > 0),'target_class'] = 1 #CR
df_data.loc[(df_data.campaign_group == 'treatment') & (df_data.conversion == 0),'target_class'] = 2 #TN
df_data.loc[(df_data.campaign_group == 'treatment') & (df_data.conversion > 0),'target_class'] = 3 #TR

In [7]:
#creating the clusters
kmeans = KMeans(n_clusters=5)
kmeans.fit(df_data[['history']])
df_data['history_cluster'] = kmeans.predict(df_data[['history']])
#order the clusters
df_data = order_cluster('history_cluster', 'history',df_data,True)
#creating a new dataframe as model and dropping columns that defines the label
df_model = df_data.drop(['offer','campaign_group','conversion'],axis=1)
#convert categorical columns
df_model = pd.get_dummies(df_model)

In [8]:
df_model

,recency,history,used_discount,used_bogo,is_referral,target_class,history_cluster,zip_code_Rural,zip_code_Surburban,zip_code_Urban,channel_Multichannel,channel_Phone,channel_Web
0,10,142.44,1,0,0,2,0,0,1,0,0,1,0
1,2,45.34,1,0,0,2,0,0,0,1,0,0,1
2,6,134.83,0,1,0,3,0,0,1,0,0,1,0
3,9,46.42,0,1,0,2,0,0,0,1,0,1,0
4,10,32.84,0,1,1,2,0,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
63995,2,1399.97,1,1,1,1,4,0,1,0,0,1,0
63996,1,1584.31,1,0,1,2,4,0,1,0,1,0,0
63997,1,1252.19,1,0,1,3,4,0,0,1,0,1,0
63998,2,1183.05,1,1,1,0,4,1,0,0,0,1,0
63999,1,1139.98,1,1,1,3,4,0,0,1,0,1,0

In [9]:
#create feature set and labels
X = df_model.drop(['target_class'],axis=1)
y = df_model.target_class
#splitting train and test groups
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=56)
#fitting the model and predicting the probabilities
xgb_model = xgb.XGBClassifier().fit(X_train, y_train)
class_probs = xgb_model.predict_proba(X_test)

[20:58:30] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.5.1/src/learner.cc:1115: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'multi:softprob' was changed from 'merror' to 'mlogloss'. Explicitly set eval_metric if you'd like to restore the old behavior.

In [10]:
class_probs[0]

array([0.29173276, 0.02925575, 0.5867137 , 0.09229784], dtype=float32)

In [11]:
#probabilities for all customers
overall_proba = xgb_model.predict_proba(df_model.drop(['target_class'],axis=1))
#assign probabilities to 4 different columns
df_model['proba_CN'] = overall_proba[:,0] 
df_model['proba_CR'] = overall_proba[:,1] 
df_model['proba_TN'] = overall_proba[:,2] 
df_model['proba_TR'] = overall_proba[:,3]
#calculate uplift score for all customers
df_model['uplift_score'] = df_model.eval('proba_CN + proba_TR - proba_TN - proba_CR')
#assign it back to main dataframe
df_data['uplift_score'] = df_model['uplift_score']

In [12]:
df_data_lift = df_data.copy()
uplift_q_75 = df_data_lift.uplift_score.quantile(0.75)
df_data_lift = df_data_lift[(df_data_lift.offer != 'Buy One Get One') & (df_data_lift.uplift_score > uplift_q_75)].reset_index(drop=True)
#calculate the uplift
calc_uplift(df_data_lift)

'Discount Conversion Uplift: 31.17% \nDiscount Order Uplift: 1409.4\nDiscount Revenue Uplift: $35235.03\n'

In [13]:
(calc_uplift(df_data_lift))

'Discount Conversion Uplift: 31.17% \nDiscount Order Uplift: 1409.4\nDiscount Revenue Uplift: $35235.03\n'

In [14]:
def greet(name):
    df_data_lift = df_data.copy()
    uplift_q_75 = df_data_lift.uplift_score.quantile(0.75)
    df_data_lift = df_data_lift[(df_data_lift.offer != 'Buy One Get One') & (df_data_lift.uplift_score > uplift_q_75)].reset_index(drop=True)
    if(name.lower()=='conversion'):
        return (calc_uplift(df_data_lift)[0:34])
    elif(name.lower()=='order'):
        return (calc_uplift(df_data_lift)[36:66])
    elif(name.lower()=='revenue'):
        return (calc_uplift(df_data_lift)[67:])
    
def greet2(name):
    df_data_lift = df_data.copy()
    uplift_q_5 = df_data_lift.uplift_score.quantile(0.5)
    df_data_lift2 = df_data_lift[(df_data_lift.offer != 'Buy One Get One') & (df_data_lift.uplift_score < uplift_q_5)].reset_index(drop=True)
    if(name.lower()=='conversion'):
        return (calc_uplift(df_data_lift2)[0:34])
    elif(name.lower()=='order'):
        return (calc_uplift(df_data_lift2)[36:66])
    elif(name.lower()=='revenue'):
        return (calc_uplift(df_data_lift2)[67:])

"""  
demo = gr.Interface(
    fn=greet,
    inputs="text",
    outputs="text",
)
"""
l1=["Conversion","Order","Revenue"]
with gr.Blocks() as demo:
    gr.Markdown("Discount Uplift")
    with gr.Row():
        with gr.Column():
            quantile_75 = gr.Dropdown(label="Discount Uplift at 0.75",
                                     choices=l1)
            q75_btn =gr.Button("Calculate")
            quantile_50 = gr.Dropdown(label="Discount Uplift at 0.5",
                                    choices=l1)
            q50_btn = gr.Button("Calculate")
        with gr.Column():
            output1 = gr.Textbox(label="Output Box")
            q75_btn.click(fn=greet,inputs=quantile_75,outputs=output1)
            output2 = gr.Textbox(label="Output Box")
            q50_btn.click(fn=greet2,inputs=quantile_50,outputs=output2)
            

demo.launch()

Running on local URL:  http://127.0.0.1:7861

To create a public link, set `share=True` in `launch()`.